# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=Picar-X Robot Service
After=multi-user.target network.target
Wants=network.target

[Service]
Environment=USER=arnau
Environment=HOME=/home/arnau
Environment=LOGNAME=arnau
# Forcem el terminal fals per si la llibreria el busca per una altra via
Environment=PYTHONUNBUFFERED=1
Type=simple
User=arnau
Group=arnau
WorkingDirectory=/home/arnau/picar-x-mnebot
ExecStart=/usr/bin/python3 /home/arnau/picar-x-mnebot/gpt_car.py
Restart=always
RestartSec=10
StandardInput=null
StandardOutput=journal
StandardError=journal
# No requereix TTY
TTYPath=/dev/null
# Variables d'entorn necessàries
Environment="PYTHONUNBUFFERED=1"
# Variables d'entorn per a PulseAudio
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"
Environment="SDL_AUDIODRIVER=pulse"
# Permetre accés a dispositius (per a la càmera i hardware)
SupplementaryGroups=video gpio i2c audio

[Install]
WantedBy=multi-user.target

